@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;800&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,700;1,300;1,400;1,800&display=swap');

:root{
    font-family: 'Poppins', sans-serif;
    --purple:hsl(259, 100%, 65%) ;
    --light-red: hsl(0, 100%, 67%);
    --off-white:hsl(0, 0%, 94%);
    --light-grey:hsl(0, 0%, 86%);
    --smokey-grey:hsl(0, 1%, 44%);
    --off-black:hsl(0, 0%, 8%);
}
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
html,body {
    height:100%;
}

body{
    display: flex;
    justify-content: center;
    background-color: var(--light-grey);
}
.container{
    width:90%;
    min-width: 340px;
    max-width:500px;
    padding:2rem 1.2rem;
    background-color: white;
    height:fit-content;
    margin-top: 4rem;
    border-radius: 25px;
    border-bottom-right-radius: 160px;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display:flex;
    margin-top:2rem;
    justify-content: space-between;
    gap: 0.8rem;
}
.flex-input{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    justify-content: center;
}
.flex-input label{
    color:var(--smokey-grey);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: smaller;
}
input{
    width:100%;
    max-width: 10rem;
    height:3rem;
    border:1px solid var(--light-grey);
    border-radius: 5px;
    font-weight: 700;
    font-size: large;
    text-indent: 10px;
}
.middle{
    position: relative;
    margin-top:3.5rem;
}
.line{
    width: 100%;
    color: var(--off-white);
    height: 1px;
}
svg{
    background-color: var(--purple);
    border-radius: 50%;
    position: absolute;
    right:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding: 1rem;

}
svg:hover{
    background-color: var(--off-black);
    cursor:pointer;
}
.bottom{
    margin-top: 3.2rem;
}
.result{
    font-size: 3.2rem;
    font-style: italic;
    line-height: 4rem;
    margin-left:0.5rem;
}
span{
    color:var(--purple)
}
.error-text{
    font-size: xx-small;
    font-style: italic;
    color: var(--light-red);
    height: 1rem;
}


@media all and (min-width:600px) {
    body{
        align-items: center;
    }
    .container{
        
        padding:2rem 0rem 2rem 2.5rem;
        max-width:840px;
    }
    .top{
        justify-content: flex-start;
    }
    .line{
        width: 90%;
    }
    svg{
        left:90%;
    }
    .bottom{
        margin-top: 2rem;
    }
    .result{
        font-size: 5rem;
        padding-bottom: 2rem;
    }
    .middle{
        margin-top: 1rem;
        padding-bottom: 1rem;
    }
    svg{
        width: 80px;
        height: 80px;
    }
}